

<body class="card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Uvu Digital</p>
        </div>
    </div>



    <section id="wrapper">
        <div class="login-register" style="background-image:url(../../../assets/images/bg-white.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form #form="ngForm" (ngSubmit)="login(form)" class="form-horizontal form-material" id="loginform" >
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control is-invalid" #email="ngModel" ngModel name="email" type="email"
                                [ngClass]="{'is-invalid': email.invalid && email.touched }"
                                pattern="[aA-zZ0-9._%+-]+@[aA-zZ0-9.-]+\.[aA-zZ]{2,10}"
                                required="" placeholder="Username"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" name="password" ngModel #password="ngModel" type="password" required="" placeholder="Password"
                                [ngClass]="{'is-invalid': password.invalid && password.touched }"
                                required> </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-info pull-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                                    <label for="checkbox-signup"> Remember me </label>
                                </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit"
                                [disabled]="form.invalid || loading"
                                >Log In</button><div *ngIf="loading" class="lds-dual-ring"></div>
                            </div>
                            <app-info [info]="info"></app-info>
                        </div>
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                                    <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Don't have an account?<a class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="recoverform" action="index.html">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <h3>Recover Password</h3>
                                <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Email"> </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- <script src="../assets/plugins/jquery/jquery.min.js"></script> -->
    <!-- Bootstrap tether Core JavaScript -->
    <!-- <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script> -->
    <!--Custom JavaScript -->
    <!-- <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script> -->
    

</body>

    <!-- <div class="login-page">
        <div class="container">
            <div class="offset-md-3 col-md-6">
                <div class="login-form secondary-bg p-4 shadow-sm mt-5">
                    <form #form="ngForm" (ngSubmit)="login(form)">
                        <h2 class="text-center">INICIAR SESION</h2>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control is-invalid" #email="ngModel" ngModel name="email" type="email" 
                            [ngClass]="{'is-invalid': email.invalid && email.touched }"
                            pattern="[aA-zZ0-9._%+-]+@[aA-zZ0-9.-]+\.[aA-zZ]{2,10}"
                            required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control"name="password" ngModel #password="ngModel" name="password" autocomplete="off" type="password" 
                            [ngClass]="{'is-invalid': password.invalid && password.touched }"
                            required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-block btn-custom"
                            [disabled]="form.invalid || loading">LOGIN <div *ngIf="loading" class="lds-dual-ring"></div></button>
                        </div>
                    </form>
                    <app-info [info]="info"></app-info>                
                </div>
            </div>
        </div>
    </div> -->