<div class="col-md-8 offset-md-2 mt-4">
    <div class="d-flex align-items-center w-100 py-4"><h2 class="section-title">Add Source</h2></div>
    <form class="secondary-bg p-4" [formGroup]="sourceForm" (ngSubmit)="submitMedia()" (keydown.enter)="$event.preventDefault()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': isInvalidInput(getInput('name')) }">
        </div>
        <div class="form-group">
            <label>Tagline</label>
            
            <input type="text" class="form-control" formControlName="tagline" [ngClass]="{'is-invalid': isInvalidInput(getInput('tagline')) }">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea formControlName="description" class="form-control" cols="10" rows="5" [ngClass]="{'is-invalid': isInvalidInput(getInput('description')) }"></textarea>
        </div>
        <div class="form-group">
            <label>Language</label>
            <select formControlName="language" class="form-control">
                <option *ngFor="let lang of languages" [value]="lang?._id">{{ lang?.code }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Keywords</label>
            <input type="text" #key ngModel class="form-control" (keyup.enter)="addKeyword(key)" [ngModelOptions]="{ standalone: true }"
            (blur)="key.value=''"
            placeholder="Press enter to add">
            <div class="m-2">
            <ng-container formArrayName="keywords" *ngFor="let keyword of getInput('keywords').controls; let i = index;">
                <span class="badge badge-pill badge-primary mr-2">{{ keyword.value }} <i (click)="removeKeyword(i)" class="fas fa-times-circle clickable"></i></span>
            </ng-container>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-block btn-custom"  type="submit" [disabled]="sourceForm.invalid">ADD SOURCE <div *ngIf="sending" class="lds-dual-ring"></div></button>
        </div>
    </form>
    <app-info [info]="info"></app-info>
</div>