<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <form class="form-inline pt-4">
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Name" name="name" autocomplete="off" (keyup)="loadList()" [(ngModel)]="filter.name">
                    <select name="status" class="form-control mb-2 mr-sm-2" [(ngModel)]="filter.status" (change)="loadList()">
                        <option value="">Status: all --</option>
                        <option value="draft">Draft</option>
                        <option value="pending">Pending</option>
                        <option value="published">Published</option>
                        <option value="rejected">Rejected</option>
                    </select>
                    <button type="button" class="btn btn-custom mb-2 mr-sm-2" [routerLink]="['/multimedia/add']">Create New</button>
                </form>
                <ng-container *ngIf="!loading">
                    <div class="d-flex align-items-center w-100 py-4">
                        <h2 class="section-title">All Media</h2>
                    </div>

                    <div class="card-columns">
                        <div class="card secondary-bg" *ngFor="let media of multimedia;">
                            <a [routerLink]="['/multimedia/detail', media?._id]">
                                <img *ngIf="media?.coverHorizontal" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + media?.coverHorizontal" class="w-100 h-auto">
                                <img *ngIf="!media?.coverHorizontal" src="../../../assets/noimage.jpg" class="w-100 h-auto">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><a class="color-custom" [routerLink]="['/multimedia/detail', media?._id]">{{ media?.name }}</a></h5>
                                <h6 class="card-subtitle">{{ media?.tagline }}</h6>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <app-pagination [total]="total" [limit]="filter.limit" [skip]="filter.skip" (changePage)="changePage($event)"></app-pagination>

                <div *ngIf="loading" class="lds-facebook d-block m-auto">

                </div>
                <app-info [info]="info"></app-info>

            </div>
        </div>
    </div>
</div>