<div class="col-md-8 offset-md-2 mt-4">
    <div class="d-flex align-items-center w-100 py-4">
        <h2 class="section-title">Create Media</h2>
    </div>
    <form class="form-body" [formGroup]="mediaForm" (ngSubmit)="submitMedia()" (keydown.enter)="$event.preventDefault()">

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': validate('name') }">
            <ng-container *ngIf="mediaForm.controls.name?.errors?.mediaExist">
                This media already exist
            </ng-container>

        </div>
        <div class="form-group">
            <label>Tagline</label>
            <input type="text" class="form-control" formControlName="tagline" [ngClass]="{ 'is-invalid': validate('tagline') }">
        </div>
        <div class="form-group">
            <label class="clickable">Set Language</label>
            <select class="form-control" formControlName="language">
                <option *ngFor="let item of languages" [value]="item._id" >
                        {{item.code}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea formControlName="description" class="form-control" cols="10" rows="5" [ngClass]="{ 'is-invalid': validate('description') }"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Genres</label>
                <ng-multiselect-dropdown [placeholder]="'Select Gnres'" [data]="genres" formControlName="genresda" [disabled]="disabled" [settings]="dropdownSettings" (onSelect)="onSelectGenres($event)">
                </ng-multiselect-dropdown>

            </div>
            <div class="form-group col-md-6">
                <div class="position-relative">
                    <label>Directors</label>

                    <ng-multiselect-dropdown [placeholder]="'Select directors'" [data]="people['directors']" formControlName="directorsadd" [disabled]="disabled" [settings]="dropdownSettings" (onSelect)="onSelectDirectors($event)">
                    </ng-multiselect-dropdown>
                    <!-- <input type="text" class="form-control" (keyup)="searchPeople('directors')" [(ngModel)]="directorName" [ngModelOptions]="{ standalone: true }">
                    <ng-container *ngFor="let director of peopleSelected.directors;">
                        <span class="badge badge-pill badge-primary mr-2">{{ director.name }} <i (click)="removePerson(director._id, 'directors')" class="fa fa-window-close"></i></span>
                    </ng-container>
                    <ul class="list-group position-absolute w-100 searchList">
                        <li class="clickable list-group-item tertiary-bg" *ngFor="let director of people.directors;" (click)="addPeople(director, 'directors')">
                            <span>{{ director.name }}</span>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="position-relative">
                    <label>Actors</label>
                    <ng-multiselect-dropdown [placeholder]="'Select actors'" [data]="people['actors']" formControlName="actorsadd" [disabled]="disabled" [settings]="dropdownSettings" (onSelect)="onSelectActors($event)">
                    </ng-multiselect-dropdown>
                    <!-- <input type="text" class="form-control" (keyup)="searchPeople('actors')" [(ngModel)]="actorName" [ngModelOptions]="{ standalone: true }">
                    <ng-container *ngFor="let actor of peopleSelected.actors;">
                        <span class="badge badge-pill badge-primary mr-2">{{ actor.name }} <i (click)="removePerson(actor._id, 'actors')" class="fas fa-times-circle clickable"></i></span>
                    </ng-container>
                    <ul class="list-group position-absolute w-100 searchList">
                        <li class="clickable list-group-item tertiary-bg" *ngFor="let actor of people.actors;" (click)="addPeople(actor, 'actors')">
                            <span>{{ actor.name }}</span>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="form-group col-md-6">
                <label data-toggle="modal" data-target="#addClassification" class="clickable">Set Classification</label>
                <select class="form-control" formControlName="classification">
                    <option *ngFor="let item of classifications" [value]="item._id" >
                            {{item.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Keywords</label>
            <input type="text" #key ngModel class="form-control" (keyup.enter)="addKeyword(key)" [ngModelOptions]="{ standalone: true }" (blur)="key.value=''" placeholder="Press enter to add">
            <div class="m-2">
                <ng-container formArrayName="keywords" *ngFor="let keyword of getKeywords; let i = index;">
                    <span class="badge badge-pill badge-primary mr-2">{{ keyword.value }} <i (click)="removeKeyword(i)" class="fas fa-times-circle clickable"></i></span>
                </ng-container>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-custom" type="submit" [disabled]="mediaForm.invalid">SEND <div *ngIf="loading" class="lds-dual-ring"></div></button>
        </div>
    </form>
    <app-info [info]="info"></app-info>
</div>


<div class="modal fade" id="addClassification" tabindex="-1" role="dialog" aria-labelledby="addClassificationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content secondary-bg">
            <div class="modal-header">
                <h5 class="modal-title">Select Classification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let classTmp of classifications" class="d-block clickable border-bottom py-2" (click)="addClass(classTmp)">{{ classTmp?.name }}</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectLanguage" tabindex="-1" role="dialog" aria-labelledby="selectLanguageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content secondary-bg">
            <div class="modal-header">
                <h5 class="modal-title">Select Language</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let lang of languages" class="d-block clickable border-bottom py-2" (click)="selectLang(lang)">{{ lang?.code }}</div>
            </div>
        </div>
    </div>
</div>