<div class="row">
    <div class="col-md-4 secondary-bg p-0">
        <div class="left-panel">
            <ng-container *ngIf="multimedia && !loading">
                <div class="p-3 ">
                    <div class="btn-group my-3" role="group">
                        <button type="button" class="btn btn-primary" [routerLink]="['/multimedia/edit', multimedia?._id]">EDIT</button>
                        <button *ngIf="multimedia?.status === 'draft' || multimedia?.status === 'rejected'" (click)="sendToReview()" type="button" class="btn btn-danger">SEND TO REVIEW</button>
                        <button type="button" class="btn btn-dark" data-target="#updateModal" data-toggle="modal">STATUS</button>
                    </div>
                    <ng-container *ngIf="!sending else loading">
                        <div class="text-center">
                            <img *ngIf="multimedia?.coverHorizontal" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + multimedia?.coverHorizontal" class="w-100 d-block m-auto h-auto border">
                            <img *ngIf="!multimedia?.coverHorizontal" src="../../../assets/noimagex.jpg" class="w-100 d-block m-auto h-auto border">
                            <label class="clickable" for="imageX">Horizontal Cover <i class="mdi mdi-upload"></i></label>
                            <input (change)="changeMainImage($event, 'horizontal')" accept="image/*" class="d-none" type="file" id="imageX">
                        </div>
                        <div class="text-center">
                            <img *ngIf="multimedia?.coverVertical" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + multimedia?.coverVertical" class="w-50 d-block m-auto h-auto border">
                            <img *ngIf="!multimedia?.coverVertical" src="../../../assets/noimagey.jpg" class="w-50 d-block m-auto h-auto border">
                            <label class="clickable" for="imageY">Vertical Cover <i class="mdi mdi-upload"></i></label>
                            <input (change)="changeMainImage($event, 'vertical')" accept="image/*" class="d-none" type="file" id="imageY">
                        </div>
                    </ng-container>

                    <ng-template #loading>
                        <div class="lds-facebook d-block m-auto">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </ng-template>

                    <app-info [info]="infoFile"></app-info>

                    <h4 class="color-custom">{{ multimedia?.name }}</h4>
                    <h6 *ngIf="multimedia?.tagline">{{ multimedia?.tagline }}</h6>
                </div>
                <div class="p-3">
                    Classification: {{ multimedia?.classification?.name }}<br>
                </div>
                <div class="p-3" *ngIf="multimedia?.genres">
                    <h5>Genres</h5>
                    <ng-container *ngFor="let genre of multimedia?.genres">
                        <span class="badge badge-pill badge-primary mr-2">{{ genre.name }}</span>
                    </ng-container>
                </div>
                <div class="p-3" *ngIf="multimedia?.directors && multimedia?.directors?.length !== 0">
                    <h5>Directors</h5>
                    <ng-container *ngFor="let director of multimedia?.directors">
                        <a [routerLink]="['/people/detail', director?._id]"><span class="badge badge-pill badge-primary mr-2">{{ director.name }}</span></a>
                    </ng-container>
                </div>
                <div class="p-3" *ngIf="multimedia?.actors && multimedia?.actors?.length !== 0">
                    <h5>Actors</h5>
                    <ng-container *ngFor="let actor of multimedia?.actors">
                        <a [routerLink]="['/people/detail', actor?._id]"><span class="badge badge-pill badge-primary mr-2">{{ actor.name }}</span></a>
                    </ng-container>
                </div>
                <div class="p-3" *ngIf="multimedia?.keywords && multimedia?.keywords?.length !== 0">
                    <h5>Keywords</h5>
                    <ng-container *ngFor="let keyword of multimedia?.keywords">
                        <span class="badge badge-pill badge-primary mr-2">{{ keyword }}</span>
                    </ng-container>
                </div>

                <div class="p-3" *ngIf="multimedia?.description && multimedia?.description !== ''">
                    <h5>Description</h5>
                    {{ multimedia?.description }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="col-md-8">
        <ng-container *ngIf="!loading">
            <h4 class="color-custom mt-3">Current Status: {{ multimedia?.status | titlecase }}</h4>
            <div class="alert alert-warning prelines" role="alert" *ngIf="multimedia?.status === 'rejected' && multimedia?.rejectedReason">
                {{ multimedia?.rejectedReason }}
            </div>
            <div class="btn-group mt-3 mb-3" role="group">
                <button [disabled]="!multimedia?.file" (click)="changeSource('main')" type="button" class="btn btn-primary">Play Main</button>
                <button [disabled]="!multimedia?.trailer" (click)="changeSource('trailer')" type="button" class="btn btn-secondary">Play Trailer</button>
            </div>
            <ng-container *ngIf="multimedia?.transcoding">
                <div class="alert alert-info mt-5" role="alert">Your file is being processed</div>
            </ng-container>
            <!-- <ng-container *ngIf="(multimedia?.file && multimedia?.jobID && !multimedia?.transcoded) || multimedia?.transcoding">
                <div class="alert alert-info mt-5" role="alert">Your file is being processed</div>
            </ng-container> -->
            
            <ng-container *ngIf="type === 'main'">
                <ng-container *ngIf="multimedia?.file">
                    <app-vsplayer-v2 [options]="{
                        controls: true,
                        poster: multimedia?.coverHorizontal ? 'https://s3.amazonaws.com/public.uvu.digital/' + multimedia?.coverHorizontal : '',
                        preload: true,
                        autoplay: false,
                        sources: [{ src: 'https://apis.uvu.digital/multimedia/play/' + multimedia?._id, type: 'video/mp4',
                        id: multimedia?._id }] }"></app-vsplayer-v2>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="type === 'trailer'">
                <ng-container *ngIf="multimedia?.trailer">
                    <app-vsplayer-v2 controls aria-controls="" [options]="{
                        fluid: true,
                        controls: true,
                        poster: multimedia?.coverHorizontal ? 'https://s3.amazonaws.com/public.uvu.digital/' + multimedia?.coverHorizontal : '',
                        preload: true,
                        autoplay: false,
                        sources: [{ src: 'https://s3.amazonaws.com/public.uvu.digital/' + multimedia?.trailer, type: 'video/mp4',
                        id: multimedia?._id }] }"></app-vsplayer-v2>
                </ng-container>
            </ng-container>

            <div class="card-columns mt-5">
                <div class="card bg-transparent border-0 text-center">
                    <a [routerLink]="['/multimedia/setmaster', multimedia?._id]" *ngIf="multimedia">
                        <div class="secondary-bg add-movie"><i class="fa fa-plus-circle"></i></div>
                        <span>SET MASTER</span>
                    </a>
                </div>

                <div class="card bg-transparent border-0 text-center" *ngIf="multimedia?.file !== '' && multimedia?.file">
                    <a [routerLink]="['/multimedia/addsource', multimedia?._id]" *ngIf="multimedia">
                        <div class="secondary-bg add-movie"><i class="fa fa-plus-circle"></i></div>
                        <span>ADD MEDIA</span>
                    </a>
                </div>

                <div class="card secondary-bg" *ngFor="let source of multimedia?.sources">
                    <a [routerLink]="['/multimedia/detailsource', source?._id]">
                        <img [src]="'https://s3.amazonaws.com/public.uvu.digital/' + source?.coverHorizontal" class="w-100 h-auto" *ngIf="source?.coverHorizontal">
                        <img src="../../../assets/noimage.jpg" class="w-100 h-auto" *ngIf="!source?.coverHorizontal">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a class="color-custom" [routerLink]="['/multimedia/detailsource', source?._id]">{{ source?.name }}</a></h5>
                        <h6 class="card-subtitle">{{ source?.tagline }}</h6>
                        <h6><span class="badge badge-secondary">{{ source?.language?.code }}</span></h6>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="loading" class="lds-facebook d-block m-auto">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <app-info [info]="info"></app-info>
    </div>
</div>

<ng-container *ngIf="user?.role === 'ADMIN' && !loading">
    <!-- Change Status -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModal">CHANGE STATUS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <form [formGroup]="statusForm" (ngSubmit)="changeStatus()" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <select name="status" class="form-control" formControlName="status" [ngClass]="{'is-invalid': isInvalidInput('status') }">
                <option value="draft">Draft</option>
                <option value="pending">Pending</option>
                <option value="published">Published</option>
                <option value="rejected">Rejected</option>
            </select>
                        </div>
                        <div class="form-group" *ngIf="getInput('status') === 'rejected'">
                            <label>Reason</label>
                            <textarea name="reason" formControlName="rejectedReason" [ngClass]="{'is-invalid': isInvalidInput('rejectedReason') }" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" [disabled]="updating">
        <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="updating"></div> Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>