<div class="container">
    <div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
    <app-info [info]="info"></app-info>
    <ng-container *ngIf="!loading">
        <div class="d-flex align-items-center w-100 py-4">
            <h2 class="section-title">{{ genre?.name }}</h2>
        </div>
        <div class="btn-group flex-wrap" role="group">
            <button data-target="#updateModal" data-toggle="modal" type="button" class="btn btn-primary">EDIT</button>
            <button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" type="button">DELETE</button>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex align-items-center w-100 py-4">
                    <h2 class="section-title">Featured Media</h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center secondary-bg" *ngFor="let media of genre?.featuredMedia">
                        <a class="text-black">{{ media?.name }}</a>
                        <div (click)="deleteFeatured(media?._id)">
                            <small class="mr-2 clickable"><i class="mdi mdi-delete"></i></small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center w-100 py-4">
                    <h2 class="section-title">Add Featured Media</h2>
                </div>
                <form>
                    <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="filter.name" name="name" autocomplete="off" placeholder="Search Media" (keyup.enter)="getMedia()"> 
                </form>
                <div *ngIf="searching; else result" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
                <ng-template #result>
                <ul class="list-group" *ngFor="let media of multimedia">
                    <li class="list-group-item d-flex justify-content-between align-items-center secondary-bg" (click)="addFeatured(media?._id)">
                        <a class="text-black">{{ media?.name }}</a>
                        <div><small class="mr-2 clickable"><i class="mdi mdi-arrow-left-bold"></i></small></div>
                    </li>
                </ul>
                </ng-template>
            </div>
        </div>
    </ng-container>
</div>

<!-- Update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModal">Update Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" #name="ngModel" ngModel placeholder="name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="updateName(name)">Confirm</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModal">Delete Genre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will eliminate this Category.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteGenre()">Confirm</button>
      </div>
    </div>
  </div>
</div>