<form class="form-inline pt-4">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Name" name="name" required autocomplete="off"
    (keyup)="loadList()" [(ngModel)]="filter.name"> 
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" name="email" required autocomplete="off"
    (keyup)="loadList()" [(ngModel)]="filter.email"> 
</form>
<ng-container *ngIf="!loading">
    
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-4" *ngFor="let user of users;" [routerLink] = "['/users/detail', user._id]">
            <div class="card card-body">
                <div class="row">
                    <!-- <div class="col-md-4 col-lg-3 text-center">
                        <div class="col-md-4 col-lg-3 text-center">
                            <a href="app-contact-detail.html"><img src="../../../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <h3 class="box-title m-b-0">{{user?.name}}</h3> <small> {{user?.role}} </small>
                            <address>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                <br/>
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div> -->
                    <div class="col-md-4 col-lg-3 text-center">
                        <a href="app-contact-detail.html"><img src="../../../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h3 class="box-title m-b-0"> {{user?.name}} </h3> <small> {{user?.role}} </small>
                        <address>
                            {{user?.email}}
                            <br/>
                            <br/>
                            <abbr title="Created On:">Created On: </abbr> {{user?.createdOn | date: 'MMM d, yyyy'}}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="d-flex align-items-center w-100 py-4">
        <h2 class="section-title">All Users</h2>
    </div>
    <ul class="list-group mb-4">
        <li class="clickable list-group-item d-flex justify-content-between align-items-center secondary-bg" *ngFor="let user of users;" [routerLink]="['/users/detail', user?._id ]">
            <div>
                {{ user?.name }} - <span class="badge badge-pill badge-light">{{ user?.role }}</span>
            </div>
            <div>{{ user?.email }}</div>
            <div>{{ user?.createdOn | date: 'MMM d, yyyy' }}</div>
        </li>
    </ul> -->
</ng-container>
app
<app-pagination [total]="total" [limit]="filter.limit" [skip]="filter.skip" (changePage)="changePage($event)"></app-pagination>
<div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
<app-info [info]="info"></app-info>