<div class="secondary-bg my-4 p-2">
    <button [disabled]="!user" class="btn btn-custom mr-sm-2" [routerLink]="['/users/edit', user?._id]">EDIT</button>
</div>
<div class="secondary-bg p-4" *ngIf="user">
    <div class="d-flex align-items-center w-100">
        <h2 class="section-title">{{ user?.name }}</h2>
    </div>
    <span class="badge badge-pill badge-success" *ngIf="user?.verifiedEmail">Verified Email</span>
    <p><span class="badge badge-pill badge-danger" *ngIf="!user?.verifiedEmail">Email Not Verified</span></p>
    <p>{{ user?.email }}</p>
    <p>Country:<br>{{ user?.country }}</p>
    <p>Address:<br>{{ user?.address }}</p>
    <p>Phone:<br>{{ user?.phone }}</p>
    <p>Code:<br>{{ user?.uuid }}</p>
</div>
<div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
<app-info [info]="info"></app-info>

<div class="secondary-bg p-4 mt-5" *ngIf="user">
    <div class="mb-3" *ngIf="subscription">
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-center w-100 mb-3">
                    <h2 class="section-title">Billing</h2>
                </div>
                <strong>Balance:</strong> {{ subscription?.balance }}<br>
                <strong>Currency:</strong> {{ subscription?.currency }}<br>
                <strong>Customer Created on:</strong> {{ subscription?.created * 1000 | date: 'MMM d, yyyy' }}<br>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-center w-100 mb-3">
                    <h2 class="section-title">Invoice</h2>
                </div>
                <strong>Prefix:</strong> {{ subscription?.invoice_prefix }}<br>
                <strong>Custom fields:</strong> {{ subscription?.invoice_settings?.custom_fields || 'none' }}<br>
                <strong>Default Payment Method:</strong> {{ subscription?.invoice_settings?.default_payment_method || 'none' }}<br>
                <strong>Footer:</strong> {{ subscription?.invoice_settings?.footer || 'none' }}<br>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-center w-100 mb-3">
                    <h2 class="section-title">Payment Methods</h2>
                </div>
                <ng-container *ngFor="let source of subscription?.sources?.data">
                    <div class="mb-2">
                        <strong>Name:</strong> {{ source?.name }}<br>
                        <strong>Type:</strong> {{ source?.object }}, {{ source?.funding }}<br>
                        <strong>Brand:</strong> {{ source?.brand }}<br>
                        <strong>Country:</strong> {{ source?.country }}<br>
                        <strong>EXP:</strong> {{ source?.exp_month }}/{{ source?.exp_year }}<br>
                        <strong>CVC:</strong> {{ source?.cvc_check }}<br>
                        <strong>Last 4 Digits:</strong> {{ source?.last4 }}<br>
                        <strong>Address Country:</strong> {{ source?.address_country }}<br>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-6 mb-5">
                <div class="d-flex align-items-center w-100 mb-3">
                    <h2 class="section-title">Subscriptions Plans</h2>
                </div>
                <ng-container *ngFor="let sub of subscription?.subscriptions?.data">
                    <div class="mb-2">
                        <strong>Billing Type:</strong> {{ sub?.billing }}<br>
                        <strong>Billing Cycle Anchor:</strong> {{ sub?.billing_cycle_anchor * 1000 | date: 'MMM d, yyyy' }}<br>
                        <strong>Created:</strong> {{ sub?.created * 1000 | date: 'MMM d, yyyy' }}<br>
                        <strong>Current Period Start:</strong> {{ sub?.current_period_start * 1000 | date: 'MMM d, yyyy' }}<br>
                        <strong>Current Period End:</strong> {{ sub?.current_period_end * 1000 | date: 'MMM d, yyyy' }}<br>
                        <strong>Plan Active:</strong> {{ sub?.plan?.active }}<br>
                        <strong>Amount:</strong> {{ sub?.plan?.amount }}<br>
                        <strong>Plan ID:</strong> {{ sub?.plan?.id }}<br>
                        <strong>Product:</strong> {{ sub?.plan?.product }}<br>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <app-info [info]="infoSub"></app-info>    
    <div *ngIf="loadingSub" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
</div>