<div class="d-flex align-items-center w-100 py-4">
    <h2 class="section-title">Edit User</h2>
</div>
<div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
<app-info *ngIf="!user" [info]="info"></app-info>
<ng-container *ngIf="user">
    <form (ngSubmit)="updateAccount()" [formGroup]="accountForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name"
            formControlName="name" [ngClass]="{ 'is-invalid': isInvalidInput(getInput('name')) }">

            <div class="invalid-feedback" *ngIf="getInput('name')?.errors">
                <ng-container *ngIf="getInput('name')?.errors.maxlength">maximum 30 digits<br/></ng-container>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" formControlName="country" [ngClass]="{ 'is-invalid': isInvalidInput(getInput('country')) }">
                <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Address" class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': isInvalidInput(getInput('address')) }">
            <div class="invalid-feedback" *ngIf="getInput('address')?.errors">
                <ng-container *ngIf="getInput('address')?.errors.minlength">minimum 5 characters<br/></ng-container>
                <ng-container *ngIf="getInput('address')?.errors.maxlength">maximum 240 characters<br/></ng-container>
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Phone Number" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': isInvalidInput(getInput('phone')) }">
            <div class="invalid-feedback" *ngIf="getInput('phone')?.errors">
                <ng-container *ngIf="getInput('phone')?.errors.minlength">minimum 10 digits<br/></ng-container>
                <ng-container *ngIf="getInput('phone')?.errors.maxlength">maximum 15 digits<br/></ng-container>
                <ng-container *ngIf="getInput('phone')?.errors.pattern">Only numbers<br/></ng-container>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': isInvalidInput(getInput('role')) }">
                <option value="ADMIN">ADMIN</option>
                <option value="CREATOR">CREATOR</option>
                <option value="USER">USER</option>
            </select>
        </div>
        <div class="mt-3">
            <app-info [info]="info"></app-info>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="accountForm.invalid || updating" 
            class="btn btn-block btn-dark">UPDATE <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="updating"></span></button>
        </div>
    </form>
</ng-container>
