<div class="row">
    <div class="col-md-4 secondary-bg p-0">
        <div class="left-panel">
            <ng-container *ngIf="source">

            <div class="p-3 pt-5">

                <div class="btn-group my-3" role="group">
                    <button type="button" class="btn btn-primary" [routerLink]="['/multimedia/editsource', source?._id]">EDIT</button>
                </div>

                <ng-container *ngIf="!sending else loading">
                    <div class="text-center">
                        <img *ngIf="source?.coverHorizontal" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + source?.coverHorizontal" class="w-100 d-block m-auto h-auto border">
                        <img *ngIf="!source?.coverHorizontal" src="../../../assets/noimagex.jpg" class="w-100 d-block m-auto h-auto border">
                        <label class="clickable" for="imageX">Horizontal Cover <i class="lni-upload"></i></label>
                        <input (change)="changeMainImage($event, 'horizontal')" accept="image/*" class="d-none" type="file" id="imageX">
                    </div>
                    <div class="text-center">
                        <img *ngIf="source?.coverVertical" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + source?.coverVertical" class="w-50 d-block m-auto h-auto border">
                        <img *ngIf="!source?.coverVertical" src="../../../assets/noimagey.jpg" class="w-50 d-block m-auto h-auto border">
                        <label class="clickable" for="imageY">Vertical Cover <i class="lni-upload"></i></label>
                        <input (change)="changeMainImage($event, 'vertical')" accept="image/*" class="d-none" type="file" id="imageY">
                    </div>
                </ng-container>
    
                <ng-template #loading>
                    <div class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
                </ng-template>

                <h4 class="color-custom">{{ source?.name }}</h4>
                <h6 *ngIf="source?.tagline">{{ source?.tagline }}</h6>
            </div>

            <div class="p-3" *ngIf="source?.keywords && source?.keywords?.length !== 0">
                <h5>Keywords</h5>
                <ng-container *ngFor="let keyword of source?.keywords">
                    <span class="badge badge-pill badge-primary mr-2">{{ keyword }}</span>
                </ng-container>
            </div>

            <div class="p-3" *ngIf="source?.description && source?.description !== ''">
                <h5>Description</h5>
                {{ source?.description }}
            </div>
            </ng-container>
        </div>
    </div>
    <div class="col-md-8">
        <h5 class="mt-3">Workin in source: {{ source?.language?.code }}</h5>
        <div class="row" *ngIf="!loading && source">
            <div class="col-md-12 mt-3">
                <app-info [info]="{ show: true, message: 'This function is temporary disabled. But you can upload the images and edit the information for this source', class: 'alert alert-success', persist: true }"></app-info>
            </div>
            <div class="col-md-6 mt-3">
                <label for="subtitle" class="media-content-uploader">
                    <i class="lni-popup" *ngIf="(!loadingSub && source?.subtitle === '') || (!loadingSub && !source?.subtitle)"></i>
                    <i *ngIf="source?.subtitle && source?.subtitle !== ''" class="text-success lni-check-mark-circle op1"></i>
                    Upload Subtitle (VTT)
                    <input (change)="uploadSubtitle($event)" class="d-none" type="file" id="subtitle">
                    <div class="progress" *ngIf="loadingSub">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        [style.width.%]="uploadSubtitleStatus.message"
                        [ngClass]="{'bg-success': source?.subtitle && source?.subtitle !== '' }"></div>
                    </div>
                </label>
            </div>
            <div class="col-md-6 mt-3">
                <label for="audio" class="media-content-uploader">
                    <i class="lni-music" *ngIf="(!loadingAudio && source?.audioTranscoded === '') || (!loadingAudio && !source?.audioTranscoded)"></i>
                    <i *ngIf="source?.audioTranscoded && source?.audioTranscoded !== ''" class="text-success lni-check-mark-circle op1"></i>
                    Upload Audio (MP3)
                    <input (change)="uploadAudio($event)" class="d-none" type="file" id="audio">
                    <div class="progress" *ngIf="loadingAudio">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        [style.width.%]="uploadAudioStatus.message"
                        [ngClass]="{'bg-success': source?.audioTranscoded && source?.audioTranscoded !== '' }"></div>
                    </div>
                </label>
            </div>
        </div>
        <div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
        <app-info [info]="info"></app-info>
    </div>
</div>