<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <button type="button" class="btn btn-custom mb-2 mr-sm-2" (click)="exportar()"> Exportar</button>
                <button class="centre btn mc" (click)="downloadExcel()">Download</button>
                <h1>Statistics funcionando</h1>

            </div>
        </div>
    </div>
</div>  