<div class="col-md-8 offset-md-2 mt-4">
    <div class="d-flex align-items-center w-100 py-4">
        <h2 class="section-title">Set Master</h2>
    </div>
    <form class="secondary-bg p-4" [formGroup]="masterForm" (ngSubmit)="submitMaster()">

        <div class="form-group">
            <label for="trailer" class="media-content-uploader">
                <i class="fa fa-video-camera" *ngIf="!loadingTrailer && getInput('trailer').value === ''"></i>
                <i *ngIf="getInput('trailer').valid && getInput('trailer').value !== ''" class="text-success lni-check-mark-circle op1"></i>
                Upload Trailer
                <input (change)="uploadTrailer($event)" accept="video/mp4,video/x-m4v,video/*" class="d-none" type="file" id="trailer">
                <div class="progress" *ngIf="loadingTrailer">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    [style.width.%]="uploadRawTrailer.message"
                    [ngClass]="{'bg-success': getInput('trailer').value }"></div>
                </div>
            </label>
        </div>

        <div class="form-group">
            <label for="masterMedia" class="media-content-uploader">
                <i class="fa fa-video-camera" *ngIf="!loadingMaster && getInput('file').value === ''"></i>
                <i *ngIf="getInput('file').valid && getInput('file').value !== ''" class="text-success lni-check-mark-circle op1"></i>
                Upload Master Media
                <input (change)="uploadMasterFile($event)" accept="video/mp4,video/x-m4v,video/*" class="d-none" type="file" id="masterMedia">
                <div class="progress" *ngIf="loadingMaster">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    [style.width.%]="uploadRawMaster.message"
                    [ngClass]="{'bg-success': getInput('file').value }"></div>
                </div>
            </label>
        </div>

        <div class="form-group">
            <button class="btn btn-block btn-custom" type="submit" [disabled]="masterForm.invalid">SEND MASTER FILES <div *ngIf="sending" class="lds-dual-ring"></div></button>
        </div>
    </form>
    <app-info [info]="info"></app-info>
</div>