<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" *ngFor="let page of total; let i = index" (click)="toSkip((limit * (page + 1)) - limit, i)">
        <a [ngClass]="{ 'page-selected': ((i) * limit) == skip }" class="page-link">{{ page + 1 }}</a>
        </li>
    </ul>
</nav>