<div class="btn-custom py-2" *ngIf="auth.isLogged()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ auth.getUserInfo()?.user?.name }} <span class="badge badge-pill badge-light">{{ auth.getUserInfo()?.user?.role }}</span>
            </div>
            <div class="col-md-6 text-right">
                <a (click)="logout()" class="clickable text-white">Logout</a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar top-navbar navbar-expand-md navbar-light" *ngIf="auth.isLogged()">
    <div class="container">
        <!-- <a class="navbar-brand" [routerLink]="['/dashboard']"><img src="../../../assets/logo.png"></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- nota -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/multimedia']">Multimedia</a></li>
                <li class="nav-item" routerLinkActive="active"><a *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'" routerLinkActive="color-custom" class="nav-link" [routerLink]="['/users']">Users</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/classifications']">Classifications</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/languages']">Languages</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/genres']">Genres</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/people']">People</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/statistics']">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>