<div id="main-wrapper">
    
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumps></app-breadcrumps>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

        <div class="container">
                    <form class="form-inline" [formGroup]="formGroup">
                        <div class="d-flex align-items-center w-100 py-4">
                            <h2 class="section-title">Create New</h2>
                        </div>
                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Language Code" name="code" autocomplete="off" [formControlName]="controlKeys.LANGUAGE" >
                        <button type="button" class="btn btn-default btn-custom mb-2" [disabled]="formGroup.invalid" (click)="createLanguage()">Create</button>
                    </form>
                    <ng-container *ngIf="!loading">
                        <div class="d-flex align-items-center w-100 py-4">
                            <h2 class="section-title">All Languages</h2>
                        </div>

                        <ul class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-center secondary-bg" *ngFor="let language of languages;">
                                {{ language.code }}
                                <div>
                                    <small class="mr-2 clickable" (click)="deleteLanguage(language?._id)"><i class="mdi mdi-delete"></i></small>
                                    <small class="mr-2 clickable" (click)="openEdit(language)"><i class="mdi mdi-border-color"></i></small>
                                </div>
                            </li>
                        </ul>
                    </ng-container>

                    <div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
                    <app-info [info]="info"></app-info>

                    <div class="modal fade" id="editLanguage" tabindex="-1" role="dialog" aria-labelledby="editLanguageLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content secondary-bg">
                        <form #editForm=ngForm (ngSubmit)="editLanguage(editForm)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editLanguageLabel">Edit: {{ selected?.code }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Language Code" autocomplete="off"
                                [ngModel]="selected?.code" minlength="1" maxlength="20" name="code" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
                        </div>
                        </form>
                        <div class="px-3"><app-info [info]="info"></app-info></div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


            <!-- footer -->
            <footer class="footer">
                © 2020 by Uvu-Admin
            </footer>
            <!-- End footer -->
    
        </div>
    
    
    </div>