<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <!-- <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Minimal </a></li>
                        <li><a href="index2.html">Analytical</a></li>
                        <li><a href="index3.html">Demographical</a></li>
                        <li><a href="index4.html">Modern</a></li>
                    </ul>
                </li> -->

                <!-- <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrow-right-drop-circle"></i><span class="hide-menu">Account-Settings</span></a>
                    <ul aria-expanded="true" class="collapse">
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/multimedia/account-Settings']" routerLinkActive="color-custom"  >Account-Settings</a></li> 
                    </ul>
                </li> -->


                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-plus-circle"></i><span class="hide-menu">Multimedia</span></a>
                    <ul aria-expanded="true" class="collapse">
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/multimedia']" routerLinkActive="color-custom">All</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/multimedia/add']" routerLinkActive="color-custom">Add</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/multimedia/account-Settings']" routerLinkActive="color-custom">Account-Settings</a></li>
                        <a href="../../../assets/css/colors/"></a>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'"><i class="mdi mdi-account-box"></i><span class="hide-menu">Users</span></a>
                    <ul aria-expanded="true" class="collapse">
                        <li><a class="has-arrow waves-effect waves-dark" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'" class="nav-link" [routerLink]="['/users']">Users</a></li>
                    </ul>
                </li>


                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Classifications</span></a>
                    <ul>
                        <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/classifications']">Classifications</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'"><i class="mdi mdi-translate"></i><span class="hide-menu">Languages</span></a>
                    <ul>
                        <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/languages']">Languages</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'"><i class="mdi mdi-view-grid"></i><span class="hide-menu">Genres</span></a>
                    <ul>
                        <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/genres']">Genres</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'" ><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Peopple</span></a>
                    <ul>
                        <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/people']">People</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Statistics</span></a>
                    <ul>
                        <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/statistics/all']">Statistics</a></li>
                    </ul>
                </li>
                <!-- <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" routerLink="['/multimedia']">Multimedia</a></li>
                    <li class="nav-item" routerLinkActive="active"><a *ngIf="auth.getUserInfo()?.user?.role === 'ADMIN'" routerLinkActive="color-custom" class="nav-link" [routerLink]="['/users']">Users</a></li>
                    <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/classifications']">Classifications</a></li>
                    <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/languages']">Languages</a></li>
                    <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/genres']">Genres</a></li>
                    <li class="nav-item" routerLinkActive="active"><a routerLinkActive="color-custom" class="nav-link" [routerLink]="['/people']">People</a></li>
                    </ul>
                </div> -->


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->