<form class="form-inline pt-4">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Name" name="name" required autocomplete="off"
    (keyup)="loadList()" [(ngModel)]="filter.name"> 
     <div class="btn-group mb-2 mr-sm-2" role="group">
        <button type="button" (click)="changeFilter('actor')" class="btn btn-secondary" [ngClass]="{ 'btn-custom': filter.category === 'actor' }">Actor</button>
        <button type="button" (click)="changeFilter('director')" class="btn btn-secondary" [ngClass]="{ 'btn-custom': filter.category === 'director' }">Director</button>
    </div>
    <button type="button" class="btn btn-custom mb-2 mr-sm-2" [routerLink]="['/people/add']">Create New</button>
</form>
<ng-container *ngIf="!loading">
    <div class="d-flex align-items-center w-100 py-4">
        <h2 class="section-title">All People</h2>
    </div>



    <div class="row el-element-overlay">
        <div class="col-lg-3 col-md-6" *ngFor="let person of people">

            <div class="card">

                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img *ngIf="person?.profileImg" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + person?.profileImg" class="w-100 h-auto"/>
                        <img *ngIf="!person?.profileImg" src="../../../assets/noimage.jpg" class="w-100 h-auto"/>
                            <div class="el-overlay scrl-dwn">
                                <ul class="el-info">
                                    <!-- <li><a class="btn default btn-outline image-popup-vertical-fit" routerLink = "'https://s3.amazonaws.com/public.uvu.digital/' + person?.profileImg"><i class="icon-magnifier"></i></a></li> -->
                                    <li><a class="btn default btn-outline" [routerLink]="['/people/detail', person?._id]"><i class="mdi mdi-account-edit"></i></a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="el-card-content">
                        <h4 class="card-title"> <a class="color-custom" [routerLink] = "['/people/detail', person?._id]"> {{person?.name}} </a> </h4>
                        <p *ngIf="person?.biography" class="card-text">{{ person?.biography | slice:0:100}}...</p>
                        <span class="label label-info label-rounded">{{ person?.category }}</span>
                        <span class="label label-info label-rounded">{{ person?.gender }}</span>
                        <!-- <a [routerLink]="['/people/detail', person?._id]" class="color-custom">EDIT</a> -->
                    </div>
                    <div class="card-body text-center">
                        DoB: {{ person?.birthdate | date: 'MMM d, yyyy' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card-columns">
        <div class="card secondary-bg" *ngFor="let person of people;">
            <a [routerLink]="['/people/detail', person?._id]">
                <img *ngIf="person?.profileImg" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + person?.profileImg" class="w-100 h-auto">
                <img *ngIf="!person?.profileImg" src="../../../assets/noimage.jpg" class="w-100 h-auto">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a class="color-custom" [routerLink]="['/people/detail', person?._id]">{{ person?.name }}</a></h5>
                <p *ngIf="person?.biography" class="card-text">{{ person?.biography | slice:0:100}}...</p>
                <span class="badge badge-pill btn-custom badge-secondary mr-sm-2">{{ person?.category }}</span>
                <span class="badge badge-pill badge-secondary mr-sm-2">{{ person?.gender }}</span>
            </div>
            <div class="card-footer text-muted">
                DoB: {{ person?.birthdate | date: 'MMM d, yyyy' }}
            </div>
        </div>
    </div>  -->
</ng-container>


<app-pagination [total]="total" [limit]="filter.limit" [skip]="filter.skip" (changePage)="changePage($event)"></app-pagination>

<div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
<app-info [info]="info"></app-info>