<div class="col-md-8 offset-md-2 mt-4">
    <div class="d-flex align-items-center w-100 py-4"><h2 class="section-title">Create Actor/Director</h2></div>
    <form *ngIf="person" class="secondary-bg p-4" [formGroup]="personForm" (ngSubmit)="submitPerson()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': validate('name') }">
            <ng-container *ngIf="personForm.controls.name?.errors?.peopleExist">
                This person already exist
            </ng-container>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="d-block">Gender</label>
                <i class="mdi mdi-human-male"></i> <label class="radio-inline mr-2"><input type="radio" formControlName="gender" value="male"> Male</label>
                <i class="mdi mdi-human-female"></i> <label class="radio-inline mr-2"><input type="radio" formControlName="gender" value="female"> Female</label>
            </div>
            <div class="form-group col-md-4">
                <label>Birthdate</label>
                <input type="date" class="form-control" formControlName="birthdate" [ngClass]="{ 'is-invalid': validate('birthdate') }">
            </div>
            <div class="form-group col-md-4">
                <label>Type</label>
                <select class="form-control" formControlName="category" [ngClass]="{ 'is-invalid': validate('category') }">
                    <option value="actor">Actor</option>
                    <option value="director">Director</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Biography</label>
            <textarea formControlName="biography" class="form-control" cols="30" rows="10" [ngClass]="{ 'is-invalid': validate('biography') }"></textarea>
            <small class="text-muted">({{ 2000 - biography.length }})</small>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-custom" [disabled]="personForm.invalid">SEND <div *ngIf="loading" class="lds-dual-ring"></div></button>
        </div>
    </form>
    <app-info [info]="info"></app-info>
</div>