<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="secondary-bg my-4 p-2">
            <button [disabled]="!person" class="btn btn-custom mr-sm-2" [routerLink]="['/people/edit', person?._id]">EDIT</button>
        </div>
        <div class="card secondary-bg" *ngIf="person">
            <ng-container *ngIf="!sending else sendingFile">
                <img *ngIf="person?.profileImg" [src]="'https://s3.amazonaws.com/public.uvu.digital/' + person?.profileImg" class="w-100 h-auto">
                <img *ngIf="!person?.profileImg" src="../../../assets/noimage.jpg" class="w-100 h-auto">
            </ng-container>
            <ng-template #sendingFile>
                <div class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
            </ng-template>
            <div class="card-body">
                <div class="input-group mb-3" *ngIf="!sending">
                    <label class="clickable" for="profileImg">
                        <i class="mdi mdi-upload"></i> Change Photo<span class="badge badge-primary"></span>
                    </label>
                    <input (change)="changeProfileImg($event)" accept="image/*" class="d-none" type="file" id="profileImg">
                </div>
                <app-info [info]="infoFile"></app-info>
                <h5 class="card-title">{{ person?.name }}</h5>
                <span class="badge badge-pill btn-custom badge-secondary mr-sm-2">{{ person?.category }}</span>
                <span class="badge badge-pill badge-secondary mr-sm-2">{{ person?.gender }}</span>
                <p *ngIf="person?.biography" class="card-text">{{ person?.biography }}</p>
            </div>
            <div class="card-footer text-muted">
                DoB: {{ person?.birthdate | date: 'MMM d, yyyy' }}
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
<app-info [info]="info"></app-info>