
<div id="main-wrapper">
    
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumps></app-breadcrumps>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
            

             <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body"> -->
                            
                            <!-- <router-outlet></router-outlet> -->

                        <!-- </div>
                    </div>
                </div>
            </div>  -->

        </div>

        <!-- footer -->
        <footer class="footer">
            © 2020 by Uvu-Admin
        </footer>
        <!-- End footer -->

    </div>


</div>

