<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


<div class="container">
<form class="form-inline" #form=ngForm (ngSubmit)="createGenre(form)">
    <div class="d-flex align-items-center w-100 py-4">
        <h2 class="section-title">Create New</h2>
    </div>
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Gender Name"
    ngModel minlength="1" maxlength="20" name="name" required autocomplete="off">
    <button type="submit" class="btn btn-default btn-custom mb-2" [disabled]="form.invalid">Create</button>
</form>
<ng-container *ngIf="!loading">
    <div class="d-flex align-items-center w-100 py-4">
        <h2 class="section-title">All Genres</h2>
    </div>
    <ul class="list-group ">
        <li class="list-group-item d-flex justify-content-between align-items-center secondary-bg" *ngFor="let genre of genres;">
            <a [routerLink]="['/genres/detail', genre?._id]">{{ genre.name }}</a>
            <div *ngIf="genre?.featuredMedia && genre?.featuredMedia.length > 0">
                <span class="badge badge-pill badge-primary">{{genre?.featuredMedia.length}}</span>
            </div>
        </li>
    </ul>
</ng-container>
<div *ngIf="loading" class="lds-facebook d-block m-auto"><div></div><div></div><div></div></div>
<app-info [info]="info"></app-info>
</div>


</div>
</div>
</div>
</div>