<ng-container *ngIf="show; else somethingBad">
    <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-volume></vg-volume>
            <vg-mute></vg-mute>
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video [poster]="options.poster" [preload]="options.preload" [autoplay]="options.autoplay" [vgMedia]="mediapls" #mediapls id="singleVideo">
            <source (error)="onVideoError($event)" *ngFor="let source of options.sources" [src]="source.src" [type]="source.type">
        </video>
    </vg-player>
</ng-container>
<ng-template #somethingBad>
    <app-info [info]="info"></app-info>
</ng-template>
  