<!-- <div class="container">
<router-outlet></router-outlet>
</div> -->




<div id="main-wrapper">
    
    
    <app-sidebar class="topbar"></app-sidebar>
    <app-header></app-header>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumps></app-breadcrumps>

            <!-- Sistema de rutas -->
            <router-outlet></router-outlet>                 

           
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body"> -->
                            
                            <!-- Mi sistema de rutas -->
                            <!-- <router-outlet></router-outlet>-->
                        <!-- </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- footer -->
        <footer class="footer">
            © 2020 by Uvu-Admin
        </footer>
        <!-- End footer -->

    </div>


</div>

